
LIMITE_REGISTROS=

NOME_CLIENTE=

# Host universal local
DB_ALL_HOST=localhost/5435


DB_GESTAO_NAME=
DB_GESTAO_USER=
DB_GESTAO_PASS=

# BANCO CONTRATO
DB_CONTRATO_NAME=
DB_CONTRATO_USER=
DB_CONTRATO_PASS=

# BANCO PESSOA
DB_PESSOA_NAME=
DB_PESSOA_USER=
DB_PESSOA_PASS=

URL_ACCOUNTS=
DB_ACCOUNTS_NAME_USER=
DB_ACCOUNTS_PASS=

# CONFIGURAÇÃO SSH TUNNEL 
SSH_HOST=
SSH_USER=
SSH_PORT=
SSH_PASSWORD=
SSH_PKEY_PATH=
SSH_REMOTE_DB_HOST=
SSH_REMOTE_DB_PORT=
SSH_LOCAL_PORT=